:root.theme-light {
  --background-image: url("../images/cover-image-light.png");
  --background-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --title-color: #353430;
  --main-text-color: #353430;
  --header-footer-title: #FFC2E6;
  --footer-title-shadow: #FF0070;
  --title-and-decorated: #353430;
}