/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
@import url(../fonts/fonts.css);

.page {
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--background-color);
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
  
}

.rec {
  display: none;
}

html.theme-dark .rec {
  display: inline-block;
  position: absolute;
  color: var(--title-and-decorated);
  top: 10px;
  right: 38px;
  line-height: 25px;
  text-align: center;
}

html.theme-dark .rec::after {
  content: "";
  position: absolute;
  background-color: var(--title-and-decorated);
  border-radius: 50%;
  width: 9px;
  height: 9px;
  top: 27%;
  margin-left: 10px;

  box-shadow: 0 0 2px 2px var(--accent-color, #ff0070);

}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  display: inline-block;
  content: '';
  position: absolute;
  background-color: transparent;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--title-and-decorated);
  border-right: 1px solid var(--title-and-decorated);
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  display: inline-block;
  content: '';
  position: absolute;
  background-color: transparent;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--title-and-decorated);
  border-bottom: 1px solid var(--title-and-decorated);
  bottom: 10px;
  left: 10px;
}

.header__title {
  color: var(--header-footer-title);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 83%;
  letter-spacing: 0%;
}

.header__theme-menu-item {
  color: transparent;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--title-and-decorated);
  border: 1px solid transparent;
  padding: 3px 13px;
  line-height: 18px;
  text-transform: lowercase;
  text-align: center;
  line-height: 100%;
}

.header__theme-menu-button_active {
  border: 1px solid var(--title-and-decorated);
  pointer-events: none
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(var(--title-and-decorated), 0.4);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--title-and-decorated);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__description {
  color: var(--title-color);
  line-height: 23.4px;
  font-weight: 700;
  letter-spacing: 0%;
}

.decorated {
  display: block;
  background-color: var(--accent-color);
}

.header__description-container {
  align-self: center;
}

.main {
  display: grid;
  padding-inline: 10px;
  gap: 50px;
  padding-block: 40px;
}

.cards-container {
  display: grid;
  gap: 20px;
}

.cards-container__title {
  line-height: 23.4px;
  font-weight: 700;
  color: var(--title-and-decorated);
}

.text-block {
  display: grid;
  gap: 20px;
}

.card {
  display: grid;
  gap: 10px;
}

.title {
  color: var(--title-color);
  line-height: 23.4px;
  font-weight: 700;
}

.card__description{
  line-height: 23.4px;
  color: var(--main-text-color);
}

.regular-text {
  font-weight: 400;
  line-height: 23.4px;
}

.card:first-of-type h3:nth-child(2) {
  margin-block-start: 10px;
}

.gallery_container {
  display: grid;
  gap: 10px;
}

.gallery_image-container {
  display: grid;
  gap: 10px;
}

.gallery__image {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: grid;
  max-height: 100vh;
  min-height: 668px;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--header-footer-title);
  text-shadow: 2px 2px 0 var(--footer-title-shadow);
  align-self: center;
  justify-self: center;
}

.link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.link:hover{
  text-decoration: 1px solid underline;
}

.link:focus{
  outline: 1px solid var(--main-text-color);
}

@media (width >= 768px){
  .header{
    padding: 20px 20px 20px 20px;
  }

  html.theme-dark .rec {
    top: 20px;
    right: 48px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__description-container {
    justify-self: end;
    width: 47vw;
  }

  .main {
    padding-inline: 20px;
    padding-block: 60px;
    gap: 80px;
  }

  .why.cards-container {
    grid-template-columns: 1fr 2fr;
  }

  .what.cards-container {
    grid-template-columns: min-content 1fr;
  }

  .what .text-block {
    grid-column: 1 / -1;
  }

  .how.cards-container {
    grid-template-columns: 1fr 2fr;
  }

  .gallery_container{
    gap: 20px;
  }

  .gallery_image-container {
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
  }

  .sunset {
    grid-row: 1;
    grid-column: 1 / 3;
  }

  .ice-cream {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .tape {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .books {
    grid-row: 2;
    grid-column: 2;
  }

  .street {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .footer {
    min-height: 100vh;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px){

  .header__title {
    transform: translateX(-20px);
  }

  .header__description-container {
    width: 48vw;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: self-start;
    /* padding-left: 15px; */
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .why.cards-container {
    grid-template-columns: 1fr clamp(29.5rem, -3.6875rem + 69.1406vw, 40.5625rem);
  }

  .what.cards-container {
    gap: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, min-content);
  }

  .what .cards-container__title {
    padding-block-end: 20px;
  }

  .what .text-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .what .card {
    align-content: start;
  }

  .how.cards-container {
    grid-template-columns: 1fr clamp(29.5rem, -3.6875rem + 69.1406vw, 40.5625rem);
  }

  .main {
    gap: 80px;
  }
}
